/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100vw;
}

body {
    background: url('https://thumbs.gfycat.com/BreakableWhoppingBluewhale-max-1mb.gif');
}